{% extends 'shop/basic.html' %}

{% block css %}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
background-color: #07617D;
border-color: #07617D;
}
{% endblock %}

{% block title%} {{Product.Product_name}} - Inside the Box{% endblock %}
{% block body %}

<div class="container my-4">


    <div class="row">

        <div class="col-md-4">

            <div class="row">
                <img src="/media/{{product.image}}" width="200px" height="220px">
            </div>

            <div class="row my-4">
                <button class="btn btn-primary">Buy Now</button>

                <button class="btn btn-primary mx-4">Add to Cart</button>

            </div>
        </div>


        <div class="col-md-8">
            <h2 class="my-4">{{product.Product_name}}</h2>
            <h4><p ><b style="color:black">BDT </b> <b style="color:rgb(100, 7, 7)">{{product.price}}</b></p></h4>
            <p style="color:rgb(0, 0, 0)">{{product.desc}}</p>
        </div>


    </div>





</div>


{% endblock %}
{% block js %}
<script>
  console.log('working')
  // Find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {

    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML=Object.keys(cart).length;


  }
  // If the add to cart button is clicked, add/increment the item
  $('.cart').click(function () {
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
      cart[idstr] = cart[idstr] + 1;
    } else {
      cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    
    document.getElementById('cart').innerHTML=Object.keys(cart).length;


  });
  $('#popcart').popover()
  document.getElementById("popcart").setAttribute('data-content','<h5>Cart</h5>');
</script>
{% endblock %}